<article class="resume-item person">
  <h1 class="title"> <i class="iconfont resumegeren"></i> 个人信息</h1>
  <div class="content">
    <div class="items">
      <ul>
        <li><span>姓名: </span> {{site.aboutme.name}}</li>
        <li><span>性别: </span>{{site.aboutme.sex}}</li>
        <li><span>年龄: </span>{{site.aboutme.age}}</li>
        <li><span>学历: </span>{{site.aboutme.edu}}</li>
        <li><span>职位: </span>{{site.aboutme.job}}</li>
        <li><span>现居地: </span>{{site.aboutme.city}}</li>
        <li><span>邮件: </span>{{site.aboutme.email}}</li>
        <li><span>电话: </span>{{site.aboutme.phone}}</li>
        <li><span>Github: </span>{{site.aboutme.github}}</li>
      </ul>
    </div>
    <div class="items">
      <img src="assets/img/profile.jpg">
    </div>
  </div>
</article>